<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./header/header') %>
</head>

<body>
    <%- include('./header/svg') %>
    <%- include('./header/nav') %>
    <section>
        <% customerInfo.forEach(customer =>{ %> 
            <h1><%= customer.daire %> </h1>
            <p><%= customer.site %> </p>
        <% }) %> 
    </section>
</body>
</html>